#app {
  width: 100vw;
  height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.g-scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #dce3e8;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #59b7ea),
      color-stop(0.7, #7ab7f1),
      color-stop(1, #495fed)
    );
    cursor: pointer;
  }
}

.g-scrollbar-x {
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #dce3e8;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #59b7ea),
      color-stop(0.7, #7ab7f1),
      color-stop(1, #495fed)
    );
    cursor: pointer;
  }
}

.g-scrollbar-y {
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #dce3e8;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #59b7ea),
      color-stop(0.7, #7ab7f1),
      color-stop(1, #495fed)
    );
    cursor: pointer;
  }
}

.g-search {
  padding: 12px;
  .ant-form-item {
    margin-bottom: 0px;
    &-label {
      > label {
        color: #6b8299;
      }
    }
    .ant-form-item-children {
      > span {
        width: 100%;
      }
    }
  }
}
.g-divider {
  width: 100%;
  height: 8px;
  opacity: 0.3;
  background: #dce3e8;
}

// common style

.mb15{
  margin-bottom: 15px;
}
.mt10{
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mr10{
  margin-right: 15px;
}
.text-right{
  text-align: right;
}

