<template>
  <!-- {{state.fileList}} -->
  <a-form :ref="setRef" :model="formData" :rules="rules" :label-col="{xl: 4,md: 6,xs: 8}" :wrapper-col="{xl: 12,md: 14,xs: 16}">
    <a-form-item label="抖音账号" name="dyNumber" v-if="!isDetail">
      <a-input v-model:value="formData.dyNumber" style="width:60%;margin-right:10px;" /> <a-button type="primary" :loading="loginLoading" @click="getBindDouyinNo">获取信息</a-button>
    </a-form-item>
    <a-form-item label="抖音账号昵称" name="nickname">
      {{formData.nickname || '--'}}
    </a-form-item>
    <a-form-item label="抖音账号" name="dyNumber">
      {{formData.uniqueId || '--'}}
    </a-form-item>
    <a-form-item label="粉丝数" name="followerCount">
      {{formData.followerCount || '--'}}
    </a-form-item>
    <a-form-item label="最低返利价格" name="priceLowLimit">
      <a-input-number :min="0" v-if="!state.isEdit" v-model:value="formData.priceLowLimit" style="width:30%;" />
      <span v-else>{{formData.priceLowLimit}}</span>
    </a-form-item>
    <a-form-item label="平台返利比例" name="totalRate">
      <a-input-number :min="0" v-if="!state.isEdit" v-model:value="formData.totalRate" style="width:30%;" />
      <span v-else>{{formData.totalRate}}%</span>
    </a-form-item>
    <a-form-item label="用户返利比例" name="rate">
      <a-input-number :min="0" v-if="!state.isEdit" v-model:value="formData.rate" style="width:30%;" />
      <span v-else>{{formData.rate}}%</span>
    </a-form-item>
    <a-form-item label="上传合同" name="rate">
      <a-upload
        v-model:file-list="state.fileList"
        action="/api/v1/uploadAttach"
        :data="{
          folderType:'30'
        }"
        :headers="{ Authorization: token }"
        @change="handleChange"
      >
        <a-button v-if="!state.isEdit && state.fileList.length < 1">
          <upload-outlined></upload-outlined>
          上传
        </a-button>
      </a-upload>
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 14, offset: 6 }">
      <a-space size="large">
        <a-button type="primary" v-if="!isDetail" @click="onSubmit"> 确定合作 </a-button>
        <a-button type="primary" v-if="state.isEdit && form.data.status =='10'" @click="relieveLiveRoom"> 解除合作 </a-button>
        <a-button type="primary" v-if="isDetail && !state.isEdit" @click="collaborateAgain"> 确定重新合作 </a-button>
        <a-button type="primary"  @click="reSubmit" v-if="state.isEdit && form.data.status =='20'"> 重新合作 </a-button>
        <a-button @click="resetForm"> 取消 </a-button>
        <!-- v-if="form.data.status == '10'" -->
      </a-space>
    </a-form-item>
  </a-form>
</template>

<script setup>
import { computed, onMounted, reactive, ref } from 'vue'
import { NotEmpty, NotSelect, NotRadio, limitStr, nickStr, phoneStr, idCardStr, emailStr } from '@/utils/validate'
import { useRoute, useRouter } from 'vue-router'
import { message } from 'ant-design-vue';
import { getAccessToken } from '@/utils/auth'

import api from '@/api'

const Route = useRoute();
const Router = useRouter();

const isDetail = computed(()=>{
  return !!Route.params.id
})

const ruleForm = ref(null)
let form = reactive({
  data:{
    priceLowLimit:'',
    dyNumber:"",
  }
})

let formData = computed(()=>{
  return form.data
})

const state = reactive({
  isEdit:isDetail.value,
  fileList:[]
})

const token = computed(()=>{
  return getAccessToken()
})



const handleChange = info => {
  if (info.file.status !== 'uploading') {
    console.log(info.file.response, info.fileList);
    form.data.agreementAttachId = info.file.response.content.attachId
  }

  if (info.file.status === 'done') {
    message.success(`${info.file.name} 上传成功`);
  } else if (info.file.status === 'error') {
    message.error(`${info.file.name} file upload failed.`);
  }
};

const loginLoading = ref(false)
const setRef = el => {
  ruleForm.value = el
}
const getBindDouyinNo = async() => {
  if(!form.data.dyNumber) {
    message.warning('请输入抖音号');
    return
  }
  loginLoading.value = true
  try {
    const res = await api.getBindDouyinNo({dyNumber:form.data.dyNumber})
    loginLoading.value = false
    form.data = res.content
    form.data.dyNumber = res.content.uniqueId
  } catch (error) {
    loginLoading.value = false
  }
}

const affirmBind = async ()=>{
  if (!form.data.priceLowLimit) {
    message.warning('最低返利价格');
    return
  }
  if (!form.data.totalRate) {
    message.warning('平台返利比例');
    return
  }
  if (!form.data.rate) {
    message.warning('用户返利比例');
    return
  }
  if (!form.data.agreementAttachId) {
    message.warning('请上传合同');
    return
  }

  let res = await api.affirmBind(form.data);
  message.success('确认合作成功');
  Router.go(-1)
}

const getLiveRoomInfo = async ()=>{
  let res = await api.getLiveRoomInfo({roomHeadId:Route.params.id})
  console.log(res);
  form.data = res.content
  if (form.data.agreementAttachName) {
    state.fileList = [
      {name:form.data.agreementAttachName}
    ]
  }
  
}

const onSubmit = () => {
  ruleForm.value.validate().then((a) => {
    console.log(a);
      affirmBind()
    })
    .catch(error => {
      console.log('error', error)
    })
}

const collaborateAgain = async ()=>{
  let {
    agreementAttachId,
    priceLowLimit,
    rate,
    totalRate
  } = form.data;
  if (!priceLowLimit) {
    message.warning('最低返利价格');
    return
  }
  if (!totalRate) {
    message.warning('平台返利比例');
    return
  }
  if (!rate) {
    message.warning('用户返利比例');
    return
  }
  if (!agreementAttachId) {
    message.warning('请上传合同');
    return
  }
  await api.collaborateAgain({
    agreementAttachId,
    priceLowLimit,
    rate,
    totalRate,
    roomHeadId: Route.params.id
  })
  message.success('重新合作成功');
  Router.go(-1)
}

const reSubmit = ()=>{
  state.isEdit = false
}

const relieveLiveRoom = async ()=>{
   await api.relieveLiveRoom({roomHeadId:Route.params.id})
   message.success('解除合作成功');
   Router.go(-1)
}

const resetForm = () => {
  // ruleForm.value.resetFields()
  Router.push({
    path:'/cooperate/liveroom/list'
  })
}
const rules = {
  // dyNumber: [limitStr('抖音账号')],
  // nickName: [nickStr('活动代号')],
  // phone: [phoneStr()],
  // idcard: [idCardStr()],
  // email: [emailStr()],
  // region: [NotRadio('活动地址')],
  // date: [NotRadio('活动时间')],
  // type: [NotSelect('活动类型')],
  // resource: [NotRadio('活动来源')],
  // priceLowLimit: [NotEmpty('最低返利价格')],
  // totalRate: [NotEmpty('平台返利比例')],
  // rate: [NotEmpty('用户返利比例')],
}

onMounted(()=>{
  if (Route.params.id) {
    getLiveRoomInfo()
  }
})
</script>
