<template>
  <filter-table
    ref="myref"
    apiFun="getLiveRoomList"
    :filterForm="filterForm"
    :propsParams="propsParams"
    :columns="col"
  >
    <template #extra>
      <a-button type="primary" @click="add()">新增合作直播间</a-button>
    </template>

    <template #formItem>
      <a-col class="item" style="width: 25%">
        <a-form-item label="">
          <a-input-number v-model:value="propsParams.minRebatePrice" placeholder="返利区间价格" style="width:45%;"></a-input-number>
          至
          <a-input-number v-model:value="propsParams.maxRebatePrice" placeholder="返利区间价格" style="width:45%;"></a-input-number>
        </a-form-item>
      </a-col>
      <a-col class="item" style="width: 25%">
        <a-form-item label="">
          <a-input-number v-model:value="propsParams.platformRebateRate" placeholder="平台返利比例" style="width:45%;"></a-input-number>
          至
          <a-input-number v-model:value="propsParams.maxPlatformRebateRate" placeholder="平台返利比例" style="width:45%;"></a-input-number>
        </a-form-item>
      </a-col>
      <a-col class="item" style="width: 25%">
        <a-form-item label="">
          <a-input-number v-model:value="propsParams.userRebateRate" placeholder="用户返利比例" style="width:45%;"></a-input-number>
          至
          <a-input-number v-model:value="propsParams.maxUserRebateRate" placeholder="用户返利比例" style="width:45%;"></a-input-number>
        </a-form-item>
      </a-col>
    </template>

    <template #action="{ record }">
      <a-button type="primary" @click="onDetail(record)">详情</a-button>
    </template>
  </filter-table>
</template>

<script setup>
import { reactive, ref } from '@vue/reactivity'
import { useRouter } from 'vue-router'

const Router = useRouter()
const add = () => {
  Router.push({
    name: 'cooperate-liveroom-edit',
  })
}

const propsParams = reactive({
  minRebatePrice:null,
  maxRebatePrice:null,
  platformRebateRate:null,
  maxPlatformRebateRate:null,
  userRebateRate:null,
  maxUserRebateRate:null
})

const myref = ref(null)

const extra = () => {
  console.log(myref.value.selectionData)
  myref.value.initTableData()
}

const onDetail = row => {
  console.log(row)
  Router.push({
    name: 'cooperate-liveroom-edit',
    params:{
      id:row.roomHeadId
    }
  })
}
const delRow = (row, cb) => {
  console.log(row)
  setTimeout(() => {
    cb()
  }, 500)
}
const filterForm = [
  {
    label: '达人名称',
    type: 'input',
    value: 'anchorName',
  },
  {
    label: '抖音账号',
    type: 'input',
    value: 'douyinNo',
  }
]

const col = [
  {
    title: '达人昵称/抖音账号',
    dataIndex: 'anchorName',
    key: 'anchorName',
  },
  {
    title: '合作状态',
    dataIndex: 'status',
    key: 'status',
  },
  {
    title: '橱窗商品数量',
    dataIndex: 'commodityNum',
    key: 'commodityNum',
    align:'center',
  },
  {
    title: '最小返利价格',
    dataIndex: 'minRebatePrice',
    key: 'minRebatePrice',
    align:'center',
  },
   {
    title: '平台返利比例',
    dataIndex: 'platformRebateRate',
    key: 'platformRebateRate',
    align:'center',
  },
   {
    title: '用户返利比例',
    dataIndex: 'userRebateRate',
    key: 'userRebateRate',
    align:'center',
  },
  {
    title: '操作',
    align:'center',
    slots: {
      customRender: 'action',
    },
  },
]
</script>

<style lang="less" scoped>
</style>