<template>
  <div class="siderContent">
    <div class="logo">
      <!-- <img :src="logo" :style="{ width: '36px' }" /> -->
      葫芦域 Admin
    </div>
    <a-menu
      :selectedKeys="menuSelectedKeys"
      :openKeys="menuOpenKeys"
      theme="dark"
      mode="inline"
      :default-selected-keys="['qrCode']"
      @click="handleCLick"
      class="g-scrollbar-y"
    >
      <template v-for="item in menuList">
        <a-menu-item v-if="!item.children" :key="item.name">
          <!-- <icon-font :type="item.icon" /> -->
          <!-- <PicLeftOutlined /> -->
          <component :is="item.icon"></component>
          <span>{{ item.title }}</span>
          <a-badge :dot="!item.show">
            <!-- {{ item.title }} -->
          </a-badge>
        </a-menu-item>
        <sub-menu v-else :key="item.name" :menu-info="item" />
      </template>
    </a-menu>
  </div>
</template>

<script setup>
import logo from '@/assets/svg/logo.svg'
import subMenu from './subMenu.vue'
import { computed, onMounted, watchEffect } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'
const Store = useStore()
const Router = useRouter()
const Route = useRoute()
const menuList = computed(() => {
  return Store.getters.menuList
})

const initMenuList = () => {
  Store.dispatch('menuInfo/generateMenu')
}
// initMenuList()
const menuOpenKeys = computed(() => {
  return Store.getters.menuOpenKeys
})
const menuSelectedKeys = computed(() => {
  return Store.getters.menuSelectedKeys
})
// const handleSelect = ({ item, key, selectedKeys }) => {
//   console.log(item, key,selectedKeys);
//   // Store.commit('menuInfo/SET_selectedKeys', selectedKeys)
// }
// const openChange = keys => {
//   // Store.commit('menuInfo/SET_openKeys', keys)
// }

const handleCLick = (item) => {
  console.log(item.keyPath);
  Store.commit('menuInfo/SET_openKeys', item.keyPath)
  Store.commit('menuInfo/SET_selectedKeys', [item.keyPath[item.keyPath.length - 1]])
  
  Router.push({ name: item.key })
  Store.commit('appInfo/SET_drawerStatus', false)
}
watchEffect(() => {
  const { matched: matchList } = Route
  const validList = matchList.filter(item => {
    return !item.meta.hide && item.path !== '/'
  })
  const [select, ...open] = validList.reverse()
  const selectedKeys = [select.path]
  const OpenKeys = open.map(item => item.path)
  // handleSelect({ selectedKeys })
  // openChange(OpenKeys)
})



onMounted(()=>{
  if (menuOpenKeys.value.length == 0 || menuSelectedKeys.value.length == 0) {
    let {matched} = Router.currentRoute.value

   let nameArr = matched.map(item=>{
      return item.name
    })
    
    Store.commit('menuInfo/SET_openKeys', nameArr)
    Store.commit('menuInfo/SET_selectedKeys', [nameArr[nameArr.length-1]])
  }
})

</script>

<style scoped lang="less">
.siderContent {
  height: 100vh;
  padding: 10px 0px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #ccc;
  }
}
.ant-menu-inline {
  border: none;
}
</style>
