<template>
  <a-sub-menu :key="menuInfo.name">
    <template #title>
      <!-- <icon-font :type="menuInfo.iconType" /> -->
      <!-- :style="{fontSize: '16px', color: '#08c'}" -->
      <component :is="menuInfo.icon"></component>
      <span>{{ menuInfo.title }}</span>
    </template>
    <template v-for="item in menuInfo.children">
      <a-menu-item v-if="!item.children" :key="item.name">
        <span>{{ item.title }}</span>
      </a-menu-item>
      <sub-menu v-else :key="item.name" :menu-info="item" />
    </template>
  </a-sub-menu>
</template>

<script setup>
import { defineProps } from 'vue'
defineProps({
  menuInfo: Object,
})
</script>
